/aula7/chroma_db_infinity
/aula7/meu_banco_chroma
/aula1/teste.py
/aula4/teste.py
/aula5/teste.py
/aula7/__pycache__
/aula8/chroma_hf_db
/aula8/FASTAPIBOT/chroma_hf_db
/aula8/PARCIALMENTE-LOCAL/__pycache__
/aula8/PARCIALMENTE-LOCAL/.wwebjs_auth
/aula8/PARCIALMENTE-LOCAL/.wwebjs_cache
/aula8/PARCIALMENTE-LOCAL/chroma_db
/aula8/PARCIALMENTE-LOCAL/node_modules
/aula8/PARCIALMENTE-LOCAL/venv
/aula8/PARCIALMENTE-LOCAL/package-lock.json
/aula8/PARCIALMENTE-LOCAL/package.json
/teste_db
/teste_db_API
/aula8/Z-API-BOT/API/chroma_hf_db
/aula8/TOTALMENTE-LOCAL-PYTHON/venv
/aula8/TOTALMENTE-LOCAL-PYTHON/__pycache__
/aula8/TOTALMENTE-LOCAL-PYTHON/geckodriver.log
/aula8/TOTALMENTE-LOCAL-PYTHON/chroma_db